


.alert {
    margin-bottom: 20px;
    margin-top: 20px;
}

.login-form {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

.logo {
    width: 5.5rem !important;
    height: 5.5rem !important;
    align-self: center;
    margin: auto;
}