$primary: #219bb2;
$primary-ultra-light: #f4fafb;
$save-dark-blue: #3c3f59;
$banner-bg: rgb(31, 103, 211);

$white: #ffffff;
$black: #000000;
$dark: rgba(
  $color: $black,
  $alpha: 0.65,
);
$success: rgb(39, 185, 110);
$danger: rgb(223, 56, 72);
$yellow: #f4a86c;
$light-gray: #fafafa;
$border: #f0f0f0;

// Brands
$twitter: #1da1f2;
$instagram: #e1306c;
$facebook: #4267b2;
$youtube: #ff0000;
