@import '../../constants/colors.scss';

[class~='ant-form-item-has-error'] {
  .input,
  .input__phone {
    &__label__stacked {
      color: red !important;
    }
  }
}

.input,
.input__phone {
  position: relative;
  padding-top: 8px;
  > div[class~='ant-input-number'],
  > div[class~='ant-picker'] {
    width: 100% !important;
  }
  &__loading {
    position: absolute;
    right: 8px;
    height: 16px;
    line-height: 16px;
    top: calc(8px + (((100% - 8px) - 16px) / 2));
    [class~='ant-spin'] {
      line-height: 16px;
    }
  }

  &__word_count {
    display: block;
    width: 56px;
    height: 14px;
    text-align: right;
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 10px;
    &[data-over-limit='true'] {
      color: $danger;
    }
  }
  [data-char-count-input='true'] {
    padding-right: 38px !important;
  }

  input {
    z-index: 0;
  }
  &__phone {
    input {
      padding-left: 60px;
    }
    &__code_prefix {
      position: absolute;
      line-height: 16px;
      font-size: 14px;
      top: calc(8px + (((100% - 8px) - 16px) / 2));
      left: 8px;
      padding: 0px 4px;
    }
  }
  &__label,
  &__label__stacked {
    position: absolute;
    line-height: 16px;
    font-size: 16px;
    top: calc(8px + (((100% - 8px) - 16px) / 2));
    left: 8px;
    padding: 0px 4px;
    background-color: white;
    color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    z-index: 2;
    transition: all 0.3s;
    &__stacked {
      top: 0px;
      color: $primary;
      font-size: 10px !important;
    }
  }
}
